# -------------------------------------
# Global ignores
# -------------------------------------
.env
!.env.example
.env.backup
.env.production

node_modules/
vendor/
storage/*.key
.DS_Store
*.log

# IDEs
.vscode/
.idea/

# PHPUnit
.phpunit.result.cache

# -------------------------------------
# Laravel-specific
# -------------------------------------

# Compiled files
/public/storage
/bootstrap/cache/*.php

# Cache & logs
/storage/app/*
!/storage/app/.gitkeep
!/storage/app/public/.gitkeep

/storage/framework/*
!/storage/framework/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/framework/cache/data/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

# Homestead
Homestead.yaml
Homestead.json

# -------------------------------------
# Docker volumes (bookstack & mariadb)
# -------------------------------------
docker/mariadb/*
!docker/m



# AVDW 23/04/25 - Ignorer les fichiers temporaires de Laravel/BookStack
docker/bookstack/www/framework/cache/
docker/bookstack/www/framework/sessions/
docker/bookstack/www/framework/views/

# Garder les répertoires vides si nécessaires (grâce à un .gitignore dans ces dossiers)
!docker/bookstack/www/framework/cache/.gitignore
!docker/bookstack/www/framework/sessions/.gitignore
!docker/bookstack/www/framework/views/.gitignore

# AVDW 23/04/25 -
/backups/*
!.gitkeep
